# FluxEnv override example

# HOST_NAME=myserver
# USER_NAME=winbeau
# USER_PASSWORD=change-me
# ENABLE_VIM=1
# ALLOW_ONLINE_FETCH=0
# ENABLE_APT_MIRROR=1
# APT_MIRROR_PRESET=tuna
# APT_UBUNTU_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/ubuntu
# APT_UBUNTU_PORTS_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/ubuntu-ports
