# FluxEnv override example

# HOST_NAME=myserver
# USER_NAME=winbeau
# USER_PASSWORD=change-me
# ENABLE_VPN=1
# VPN_DOMAIN=example.com
# VPN_UUID=00000000-0000-0000-0000-000000000000
# ENABLE_VIM=1
# ALLOW_ONLINE_FETCH=0
